html, body {
    margin: 0;
    padding: 0;
}
.title-box {
    height: 10vh;
    padding: 10px;
    background-color: #92AABD;
    color: #183B56;
}
.content {
    width: 40%;
    margin: 10px;
    padding: 10px 30px;
    border: solid 3px #183b56;
    background-color: #AAAAAA;
    color: #183B56;
}
img {
    width: 100%;
    height: auto;
    margin: 3px 0;
  }